@import url('https://fonts.googleapis.com/css2?family=Anybody&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Bebas+Neue&display=swap');
body{
    background-color: black;
}
h1{
    color: white;
    margin-bottom: 0px;
    margin-top: 0px;
    padding: 0px;
}
a{
    text-decoration: none;
    transition: 0.5s;
    color: white;
}
a:hover{
    text-decoration: none;
    color: white;
    text-shadow: 0.5px 0px 7px rgb(0, 68, 255);
    transition: 0.05s;
}
.cardscreen > h1{
    font-size: 70px;
    text-shadow: 1px 0px 7px rgb(0, 68, 255);
    letter-spacing: 3px;
    font-family: 'Abril Fatface', cursive;
    text-align: center;
}
.cardscreen-info{
    position:static;
    margin: 10px auto;
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
}
.top{
    margin-top: 20vh;
    margin-right: 20px;
    user-select: none;
   font-size: 13vw;
    font-family: 'Bebas Neue', cursive;
    cursor: default;
    text-shadow: 1px 0px 7px rgb(0, 68, 255);
    color: #fffb00; 
	display: inline-block;
}
.main{
    font-size: 14vw;
    user-select: none;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: -4px;
    cursor: default;
    transition: 0.5s;
    text-shadow: 1px 0px 7px rgb(0, 68, 255);
    transform: 0.5s;
    display: inline-block;
    padding-bottom: 0px;
}
.main:hover .roblox-logo{
    transition: 0.5s;
    rotate: 15deg;
    translate: 40px 30px;
    transform: scale(4.2);
}
.main:hover{
    transform:scale(1.15)translateX(56px);
    transition: 0.5s;
}
h2{
    margin-top: 0px;
    color: #ffffff;
    width: 630px;
    text-shadow: 0px 0px 5px rgba(0, 68, 255, 0.769);

}
.globe{
    display: inline-block;
    margin-top: 25%;
    width: 500px;
user-select: none;
    margin-left:-130px;
}
.roblox{
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(106deg) brightness(109%) contrast(107%);
    border: 0px;
user-select: none;
    display: inline;
    width: 50px;
    box-shadow: none;
}
.roblox-logo{
    transform: scale(3);
    display: inline-block;
    transition: 0.5s;
    margin-left: 50px;
}

.scroll {
	width: 60px;
	height: 60px;
	border: 2px solid rgb(255, 255, 255);
	border-radius: 50%;
    left: 45vw;
    position: absolute;
	animation: down 1.5s infinite;
	-webkit-animation: down 1.5s infinite;
    display: block;
}
.scroll::before {
	content: '';
	position: absolute;
	top: 15px;
	left: 18px;
	width: 18px;
	height: 18px;
	border-left: 2px solid rgb(194, 194, 194);
  	border-bottom: 2px solid rgb(194, 194, 194);
	transform: rotate(-45deg);
	}


@keyframes down {
	0% {
		transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}

@-webkit-keyframes down {
	0% {
	    transform: translate(0);
	}
	20% {
		transform: translateY(15px);
	}
	40% {
		transform: translate(0);
	}
}


@media (max-width: 1200px) {
    .globe{
        width: 80vh;
        position: abosulte;
        z-index: -10;
        display: inline;
        margin-left: 0px;
        top: 30px;
        left: 0px;
    }
}



.heading-col{
    margin-left: 30px;
}

.card-title{
    font-family: 'Anybody', cursive;
    font-size: xx-large;
    margin-bottom: 0px;
}
.card{
    background-color: rgb(8, 7, 7);
    color: white;
    border: 0.5px solid rgb(68, 68, 68);
    transition: 0.3s all;
    margin-left: 10px;
}
.card:not(.no-move):hover{
    transform:translateX(-3px)translateY(-3px);
}
visit-count{
    margin-bottom:15px;
    display: inline-block;
    color: rgb(186, 186, 186);
}
.card-container{
    width: 75%;
}
.card-text{
    font-size: 17px;
}
.card-row{
    margin-top: 20px;
}
.card-more{
    font-size: 7.5vw;
    color: white;
    text-decoration: none;
    color: white;
    text-shadow: 0.5px 0px 7px rgb(0, 68, 255);
    font-family: 'Bebas Neue', cursive;
    transition: 0.5s all;
    margin-left: 10px;
}
.card-more:hover{
    text-shadow: 0.5px 1px 10px rgb(0, 68, 255);
}
.navbar{
    background-color: rgba(0, 0, 0, 0.620);
    box-shadow: 0 0 0 1px #6c6c6c;
    backdrop-filter: blur(8px);
}
.navbar-brand{
    transform: scale(1.5);
    margin-left: 40px;
    margin-top: 2px;
    color: white;
    font-family: 'Bebas Neue', cursive;
}

.navbar-brand:hover{
    color: white;
    text-shadow: 0.5px 0px 7px rgb(0, 68, 255);
}
.navbar-brand:visited{
    color: white;
}
.navbar-brand:active{
    color: rgb(229, 234, 255);
}

.navbar-img{
    height: 20px;
    margin-right:20px;
}
.navbar-roblox{
    scale: 1.5;
    filter: invert(100%) sepia(0%) saturate(7468%) hue-rotate(106deg) brightness(109%) contrast(107%);
}


.card-text, visit-count{
    cursor: default;
}

::selection{
    background-color: rgb(186, 186, 186);
    color: rgb(0, 0, 0);
}
.tier-col{
    border-right: 0.5px solid rgb(68, 68, 68);
    background-color: #141415;
}
.tier{
    font-family: anybody;
    font-size: 75px;
    color: rgb(255, 255, 255);
    margin-bottom: 0px;
    position: relative; 
    top: 80px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}
.tier1{
    border-radius: 0.375rem 0.375rem 0 0;
}
.tier2{
    border-radius: 0 0 0.375rem 0.375rem;
}
.tier2 .tier{
    top: 50px;
}
.tier-screen{
    margin-bottom: 50px;
}

.row>* {
    padding-left: 0px;
}

.text-white:hover{
    text-shadow: none;
}
.text-white{
    font-size: larger;
}
.btn-order{
    margin-right: 15px;
    background-color: #21252955;
    backdrop-filter: blur(8px);
}

.btn-order-general{
    margin-bottom: 20px;
    width: 200px;
    height: 50px;
}
